<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <span class="error_m"><%= devise_error_messages! %></span>

  <div>
    <%= f.label :name,class: "name" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class: "name"%>
  </div>

  <div>
    <%= f.label :email,class: "email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "email"%>
  </div>

  <div>
    <%= f.label :password,class: "password" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",class: "password" %>
  </div>

  <div>
    <%= f.label :password_confirmation,class: "password_confirm" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "password_confirm" %>
  </div>

  <div>
    <%= f.submit "Sign up",class: "Sign-up label-success" %>
  </div>



<% end %>

<%= render "devise/shared/links" %>
